.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Centre verticalement le contenu */
    height: 500px;
    background: linear-gradient(to right, #8BA5FF, #C1D1FF, #C1D1FF);
}

.header img {
    max-width: 100%; /* Définit la largeur maximale de l'image à 100% de la largeur du conteneur parent */
    height: auto; /* Garde le rapport hauteur/largeur de l'image */
}

/* Styles pour les écrans de bureau */
.desktop-only {
    display: block;
}

/* Styles pour les écrans de téléphone */
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

.right {
    width: 50%;
    display: block;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 60px;
} 

.title-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.purple {
    color: #5868FF;
}

.all-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    overflow-y: auto;
}

.filters {
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
    max-width: max-content;
    width: max-content;
}

.selected {
    background-color: #5868FF;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
}

.search-input {
    font-size: 16px;
    border-radius: 4px;
    flex: 1;
    margin: 15px;
}

.search-button {
    width: 75px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
}

.body {
    margin: 30px;
}

.title-quiz {
    display: flex;
    justify-content: center;
}

.quiz {
    display: grid;
    justify-items: center;
}
